<div class="box">
    <div class="wrapper d-flex justify-content-between align-items-center justify-content-center">
        <div class="child1">
            <h3> Sign up our Newsletter</h3>
            <p> Get e-mail updates about our Latest news and special offers.</p>
            <div class="d-flex">
                <input type="email" class="form-control email" id="InputEmail" aria-describedby="emailHelp" placeholder="Email Address">
                <input type="submit" value="Submit" id="submit">
            </div>
        </div>
        <div class="child2">
            <h5> QUICK LINKS</h5>
            <a class="link-offset-2 link-underline link-underline-opacity-0" href="#">myPaddi Shop</a>
            <a class="link-offset-2 link-underline link-underline-opacity-0" href="#">e-Pharmacy</a>
            <a class="link-offset-2 link-underline link-underline-opacity-0" href="#">Sexual Health Advocacy Campaign</a>
            <a class="link-offset-2 link-underline link-underline-opacity-0" href="#">Chat a Doctor/Counsellor</a>
        </div>
        <div class="child3">
            <h5> SOCIALS</h5>
            <p>Instagram</p>
            <p>Facebook</p>
            <p>Youtube</p>
            <p>Whatsapp</p>
        </div> 
    </div>
    <p class="d-flex justify-content-center"> Copyright MOBicure Solution 2022, All rights reserved </p>
</div>