.box{
    background-color: #f8f8f8;
    margin: 0 auto;
}

.wrapper{
    padding-top: 3rem;
    margin: 0 auto;
    width: 80%;
}

.child1{
    width: 50%;
}

.child2{
    width: 24%;
}

.child3{
    width: 24%;
}

h3{
    font-weight: bold;
}

.email{
    width: 60%;
    outline: 0;
    background-color: #f8f8f8;
    border-width: 0 0 2px;
    border-color: #0017c4;
    margin-right: 1rem;
}

::placeholder { 
    color: #0017c4;
    opacity: 1; 
  }

.submit{
    background-color: #2b44ff;
    border: #2b44ff;
    border-radius: 8px;
    font-size: 14px;
    width: 20%;
    color: #ffff;
}

a{
    color: #646464;
    display: block;
    padding: 0.10rem;
}
h5{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.socials{
    color: #646464;
    padding: 0.10rem;
    margin: 0;
}

.ending_text{
    padding: 3rem;
    margin: 0;
    font-size: 14px;
    color: #646464;
}

#myBtn {
    // display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
  }

@media only screen and (max-width: 831px) {
    .wrapper{
        flex-direction: column;
    }
    .child1{
        width: 100%;
        padding-bottom: 3rem;
    }

    .parent{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .child2{
        width: 100%;
    }

    .child3{
        width: 50%;
    }

    h5{
        padding-bottom: 1.5rem;
    }

    #myBtn{
        display: none;
    }
}