<div class="box">
    <div class="wrapper d-flex justify-content-between align-items-center justify-content-center">
        <div class="child1">
            <div class="">
                <h3> Sign up our Newsletter</h3>
                <p class="p1"> Get e-mail updates about our Latest news and special offers.</p>
            </div>
            <div class="d-flex email1">
                <input type="email" class="form-control email" id="InputEmail" aria-describedby="emailHelp" placeholder="Email Address">
                <input type="submit" value="SUBMIT" id="submit" class="submit">
            </div>
        </div>
        <div class="parent d-flex justify-content-between">
            <div class="child2">
                <h5> QUICK LINKS</h5>
                <div class="links">
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="#">myPaddi Shop</a>
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="#">e-Pharmacy</a>
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="#">Sexual Health Advocacy Campaign</a>
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="#">Chat a Doctor/Counsellor</a>
                </div>
            </div>
            <div class="child3">
                <h5> SOCIALS</h5>
                <div class="names">
                    <p class="socials">Instagram</p>
                    <p class="socials">Facebook</p>
                    <p class="socials">Youtube</p>
                    <p class="socials">Whatsapp</p>
                </div>
            </div> 
        </div>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-circle-chevron-right fa-rotate-270" style="color: #000000;"></i></button>
    <p class="d-flex justify-content-center ending_text"> Copyright MOBicure Solution 2022, All rights reserved </p>
</div>