<div class="container">
    <div class="wrapper d-flex justify-content-between">
        <div class="child1">
            <h3> Sign up our Newsletter</h3>
            <p> Get e-mail updates about our Latest news and special offers.</p>
        </div>
        <div class="child2">
            <h5> QUICK LINKS</h5>
            <p><a class="link-offset-2 link-underline link-underline-opacity-0" href="#">myPaddi Shop</a></p>
            <p><a class="link-offset-2 link-underline link-underline-opacity-0" href="#">e-Pharmacy</a></p>
            <p><a class="link-offset-2 link-underline link-underline-opacity-0" href="#">Sexual Health Advocacy Campaign</a></p>
            <p><a class="link-offset-2 link-underline link-underline-opacity-0" href="#">Chat a Doctor/Counsellor</a></p>
        </div>
        <div class="child3">
            <h5> SOCIALS</h5>
            <p>Instagram</p>
            <p>Facebook</p>
            <p>Youtube</p>
            <p>Whatsapp</p>
        </div> 
    </div>
    <p class="d-flex justify-content-center"> Copyright MOBicure Solution 2022, All rights reserved </p>
</div>