a{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
}

.mypaddi{
    font-weight: 1000;
}

.navi{
    width: 80%;
    margin: 0 auto;
}

.navbar{
    padding-bottom: 2rem;
    padding-top: 1.5rem;
    padding-left: 0;
    padding-right: 0;
}

.main_parent{
    position: relative;
}

.collapse_child{
    position: absolute;
    right: 0;
    top: 20%;
}

.nav-link{
    font-size: 25px;
}

@media only screen and (max-width:1440px){
    .nav-link{
        font-size: 20px;
    }
}