<nav class="navbar navbar-expand-xl">
    <div class="container-fluid d-flex justify-content-xl-between w-100">
        <a class="navbar-brand mypaddi" href="#">MYPADDI</a>
        <ul class="navbar-nav me-auto mb-2 mb-xl-0 d-flex">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact us</a>
                </li>
        </ul>
        <div class="d-flex">
            <form class="d-flex" role="search">
                <input class="form-control me-2 d-none" type="search" placeholder="Search" aria-label="Search">
                <button type="button" class="btn">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Log In/Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>