<div class="wrapper">
    <h3 class="d-block"> Sexual Health Advocacy Campaign </h3>
    <div class="d-flex w-100 justify-content-between">
        <p class=""> View our past Healthcare Initative (Medical outreach) Campaign </p>
        <p class="">JOIN US TODAY <i class="fa-solid fa-circle-chevron-right" style="color: #0116b5;"></i></p>
    </div>
    <div class="pt-4 d-flex justify-content-between">
        <div class="child1">
            <div> <img class="medical w-100" src="assets\png\medical_team.png" alt="Medical Team"> </div>
            <div class="div1">
                <p class="p1"> Egor LGA Communal Health Outreach </p>
            </div>
        </div>
        <div class="child2">
            <div> <img class="nutrition_talks w-100" src="assets\png\Nutrition_talks@3x.png" alt="Nutrition talks"> </div>
            <div class="div1">
                <p class="p1"> Secondary Schools Sexual Wellness Campaign </p>
            </div>
        </div>
        <div class="child3">
            <div> <img class="Pharmaceutical-care w-100" src="assets\png\Pharmaceutical-care@3x.png" alt="Pharmaceutical-care"> </div>
            <div class="div1">
                <p class="p1"> CARE FOR THE EDERLY Campaign </p>
            </div>
        </div>
        <div class="child4">
            <div> <img class="pills" src="assets\png\pills.png" alt="pills"> </div>
        </div>
    </div>
</div>