.wrapper{
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 8rem;
}

h2{
    width: 30%;
    font-weight: bolder;
    font-size: 45px;
}

.p2{
    font-size: 25px;
    color: #333333;
}

.p3{
    font-size: 25px;
    color: #0116b5;
    font-weight: bold;
}

.image__overlay{
    border-radius: 1.5rem;
    position: absolute;
    top: 0;
    left: 1rem;
    width:30.3rem;
    height: 38rem;
    background: rgba( 0, 0, 0, 0.6);
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
 }

 .image__overlay:hover{
    opacity: 1;
 }

 a{
    color:#ffff;
 }

/* .child4{
    width: 40%;
}  */

.fa-circle-chevron-right{
    padding-left: 0.5rem;
}

.a1{
    font-weight: bold;
 }

.p1{
    padding-top: 1.5rem;
    font-size: 20px;
}

.div1{
    width: 75%;
    font-weight: bold;
}

/* .image img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
} */

.photo{
    width: 100%;
    border-radius: 1rem;
    height: 38rem;
}

@media only screen and (max-width: 1440px) {
    
    .photo{
        width: 13rem;
        height: 23rem;
    }

    .p1{
        font-size: 18px;
    }

    h2{
        font-size: 30px;
        width: 60%;
    }

    .p2{
        font-size: 20px;
    }

    .p3{
        font-size: 20px;
    }
}


@media only screen and (max-width: 1024px) {

    .p1{
        font-size: 14px;
    }

    h2{
        font-size: 20px;
        width: 60%;
    }

    .p2{
        font-size: 18px;
    }

    .p3{
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    
    .p1{
        font-size: 14px;
    }

    h2{
        font-size: 18px;
        width: 60%;
    }

    .p2{
        font-size: 15px;
    }

    .p3{
        font-size: 15px;
    }

}

@media only screen and (max-width: 375px) {

    .p1{
        font-size: 14px;
    }

    h2{
        font-size: 14px;
        width: 50%;
    }

    .p2{
        font-size: 12px;
    }

    .p3{
        font-size: 12px;
    }

}