.wrapper{
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 8rem;
}

h3{
    width: 30%;
    font-weight: bolder;
    font-size: 30px;
}.p2{
    font-size: 18px;
    color: #333333;
}
.p3{
    color: #0116b5;
    font-weight: bold;
}

.image{
    position: relative;
}
 .image__overlay{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.6);
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
 }

 .image__overlay:hover{
    opacity: 1;
 }
 a{
    color:#ffff;
 }
.child1{
    width: 24%;
}

.child2{
    width: 24%;
}

.child3{
    width: 24%;
}

.child4{
    width: 20%;
}

.fa-circle-chevron-right{
    padding-left: 0.5rem;
}
 .a1{
    font-weight: bold;
 }

.p1{
    padding-top: 1.5rem;
}

.div1{
    width: 75%;
    font-weight: bold;
}
 .pills{
    width: 100%;
    height: 46vh;
 }