 <div class="box w-100 overflow-hidden uppercontent">
    <div class="row">
        <div class="col-lg-8 bigOneLeft  text-dark d-flex">
            <div class="entiretext">
                <p class="p1"> A Safe Space to talk about Sexual Health & Rights. </p>
                <p> Access sexual wellness products & services in the privacy of your phone.</p>
                <div class="stores">
                    <img class="appstore mr-3" src="assets\JPG\appstore.jpg" alt="App Store logo">
                    <img class="googleplay" src="assets\JPG\googlestore.jpg" alt="GooglePlay Logo">
                </div>
            </div>
            <div class="girlpicture align-items-end">
                <img class="w-100" src="assets\png\girlpicture.png">
            </div>
        </div>
        <div class="col-lg-4 smalls">
            <div class="row">
                <div class="col-lg-8">
                    <div>
                        <p class="p1"> Sexual Health Products</p>
                    <p> 
                        Order yours today!
                    </p>
                    <p class="p2"> BUY NOW 
                        <i class="fa-solid fa-circle-chevron-right" style="color: #000000;"></i> 
                    </p>
                    </div>
                    <div class="align-items-end">
                        <img class="medicine w-100" src="assets\JPG\medicine.jpg" alt="medicine">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div>
                        <p class="p1">
                            Sexual Health
                        </p>
                        <p> 
                            Advocy
                        </p>
                        <p class="p2"> CONTINUE
                            <i class="fa-solid fa-circle-chevron-right" style="color: #000000;"></i>
                        </p>
                    </div>
                    <div class="align-items-end">
                        <img class="audiophone w-100" src="assets\JPG\audiphone.jpg" alt="Audiophone">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-100 d-flex justify-content-xl-center">
    <img class="logo w-75 d-flex justify-content-xl-center" src="assets\JPG\logo.jpg" alt="Logo">
</div>
