 <div class=" wrapper box d-flex justify-content-between">
    <div class="bigOneLeft text-dark d-flex">
        <div class="entiretext p-5 w-50">
            <h2 class="p1"> A Safe Space to talk about Sexual Health & Rights. </h2>
            <p> Access sexual wellness products & services in the privacy of your phone.</p>
            <div class="stores">
                <img class="appstore mr-3" src="assets\JPG\appstore.jpg" alt="App Store logo">
                <img class="googleplay" src="assets\JPG\googlestore.jpg" alt="GooglePlay Logo">
            </div>
        </div>
       <div class="girlpicture w-50 align-items-end">
            <img class="img-fluid imgB1" src="assets\png\girlpicture.png">
        </div>
    </div>
    <div class="smalls">
        <div class="products">
            <div class="p-5">
                <p class="p1"> Sexual Health Products</p>
                <p> 
                    Order yours today!
                </p>
                <p class="p2"> BUY NOW 
                    <i class="fa-solid fa-circle-chevron-right" style="color: #000000;"></i> 
                </p>
            </div>
            <div class="d-flex justify-content-end">
                <img class="medicine w-50" src="assets\png\medicine.png" alt="medicine">
            </div>
        </div>
        <div class="sexualHealth">
            <div class="p-5">
                <p class="p1"> Sexual Health </p>
                <p> Advocy </p>
                <p class="p2"> CONTINUE
                        <i class="fa-solid fa-circle-chevron-right" style="color: #000000;"></i>
                </p>
            </div>
            <div class="d-flex justify-content-end">
                <img class="audiophone" src="assets\png\audiphone.png" alt="Audiophone">
            </div> 
        </div>
    </div>
</div>
<div class="w-100 d-flex justify-content-xl-center">
    <img class="logo w-75 d-flex justify-content-xl-center" src="assets\JPG\logo.jpg" alt="Logo">
</div>
