 <div class=" wrapper box d-flex justify-content-between">
    <div class="bigOneLeft d-flex justify-content-between">
        <div class="entiretext">
            <h2 class="p1"> A Safe Space to talk about Sexual Health & Rights. </h2>
            <p class="p3"> Access sexual wellness products & services in the privacy of your phone.</p>
            <div class="stores">
                <img class="appstore mr-3" src="assets\JPG\appstore.jpg" alt="App Store logo">
                <img class="googleplay" src="assets\JPG\googlestore.jpg" alt="GooglePlay Logo">
            </div>
        </div>
       <div class="girlpicture">
            <img class="img-fluid imgB1" src="assets\png\girlpicture.png">
        </div>
    </div>
    <div class="smalls">
        <div class="products d-flex justify-content-between mb-3 medicine2">
            <div class="child_text1">
                <h3 class="p1"> Sexual Health Products</h3>
                <p class="p4"> 
                    Order yours today!
                </p>
                <p class="p2"> BUY NOW 
                    <i class="fa-solid fa-circle-chevron-right" style="color: #000000;"></i> 
                </p>
            </div>
            <div class="child_picture1 d-flex align-items-end">
                <img class="medicine" src="assets\png\medicine.png" alt="medicine">
            </div>
        </div>
        <div class="sexualHealth grid_container2">
            <div class="grid_child_text">
                <h3 class="p1"> Sexual Health </h3>
                <p class="p4"> Advocy </p>
                <p class="p2"> CONTINUE
                        <i class="fa-solid fa-circle-chevron-right" style="color: #000000;"></i>
                </p>
            </div>
            <div class="grid_child_picture">
                <img class="audiophone" src="assets\png\audiphone.png" alt="Audiophone">
            </div> 
        </div>
    </div>
</div>
<div class="w-100 d-flex justify-content-xl-center">
    <img class="logo w-50 d-flex justify-content-xl-center" src="assets\JPG\logo.jpg" alt="Logo">
</div>
