.uppercontent{
    width: 100%;
}

img {
    object-position: right bottom;
  }
  
.wrapper{
    width: 90%;
    margin: 0 auto;
}
.girlpicture{
    background-image: url("/assets/png/blue_shape.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.bigOneLeft{
    width: 68%;
    background-color: #afeeff;
}

.smalls{
    width: 30%;
}

.sexualHealth{
    background-color: #d8e8ff;
}

.products{
    background-color: #f4ede6 ;
}

.appstore{
    width: 20%
}

.googleplay{
    width: 20%
}

.medicine{
    width: 40%;
}

.audiophone{
    width: 40%;
}