.uppercontent{
    width: 100%;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.bigOneLeft{
    width: 68%;
    background-color: #afeeff;
}

.smalls{
    width: 30%;
}

.entiretext{
    width: 65%;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-bottom: 0;
    padding-right: 0;
}

.girlpicture{
    background-image: url("/assets/png/blue_shape.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 92%;
}

.p1{
    font-weight: bolder;
}

.p2{
    font-weight: bold;
}

.p3{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 17px;
}

.p4{
    font-size: 17px;
}

.sexualHealth{
    background-color: #d8e8ff;
}

.products{
    padding: 1rem;
    background-color: #f4ede6 ;
}

.child_text1{
    width: 55%;
}

.child_picture1{
    width: 40%;
}

.grid_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.grid_container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid_child_text{
    padding: 2rem;
    padding-right: 0;
}

.p2{
    margin-top: 2rem;
}

.medicine2{
    background-image: url("/assets/png/beige_semicircle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.appstore{
    width: 40%;
}

.googleplay{
    width: 40%;
}

.medicine{
    margin-right: 2rem;
    width: 100%;
}

.audiophone{
    padding: 1rem;
    width: 95%;
}

@media only screen and (max-width:1300px){
    .entiretext{
        width: 70%;
    }
}

@media only screen and (max-width: 992px) {
    .wrapper{
        flex-direction: column;
    }
    .smalls{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 2rem;
        height: 15rem;
    }
    .bigOneLeft{
        width: 100%;
    }

    .products{
        width: 48%;
        height: 100%;
        
    }

    .sexualHealth{
        width: 48%;
        height: 100%;
    }
}

@media only screen and (max-width: 820px) {

    .entiretext{
        width: 50%;
        padding-top: 3rem;
        padding-left: 3rem;
        padding-bottom: 0;
        padding-right: 0;
    }

    .p1{
        font-size: 25px;
    }
    
}

@media only screen and (max-width: 691px) {

    .p1{
        font-size: 22px;
    }

    .p3{
        padding-top: 1rem;
        padding-bottom: 1em;
        font-size: 15px;
    }

    .stores{
        width: 100%;
    }
    
}

@media only screen and (max-width: 625px) {

    .p1{
        font-size: 22px;
    }

    .p3{
        font-size: 12px;
        
    }
    
}

