.mainthing{
    width: 80%;
    margin: 0 auto;
}

.parent{
    padding: 0;
}

.child1{
    width: 21%;
}

.child2{
    width:21%;
}

.container3{
    width: 20%;
    background-color: #f3ede8;
}

.child3{
    width: 32%;
    background-color: #e2eeec;
}
.p1{
    font-weight: bold;
}

.p2{
    color: #777777;
    margin: 0;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.p4{
    padding-top: 1rem;
}

.blog{
    background-color: #f7f7f7;
    padding: 1rem;
}

.messenger2{
    background-color: #fffbf2;
    padding: 1rem;
 }
.red_audiphone{
    margin-left: 2rem;
    width: 90%;
} 

.join{
    text-align: end;
    font-size: 16px;
    margin: 0;
 }

 h3{
    font-weight: bold;
 }
.first_p{
    color: #777777;
    font-weight: bold;
}

 h5{
    margin: 0;
    font-weight: bold;
 }

h4{
    font-size: 25px;
    font-weight: bold;
}
 .grid_child_text{
    width: 45%;
    padding-top: 4rem;
 }

 .grid_child_picture{
    width: 50%;
    padding-top: 4rem;
 }

 @media only screen and (max-width: 992px) {
    .parent{
        flex-direction: column;
    }

    .upper_parent{
        display: flex;
        justify-content: space-between;
    }

    .child1{
        width: 45%;
    }

    .child2{
        width: 45%;
    }

    .messenger2{
        height: 26rem;
    }

    .p-child{
        display: none;
    }

    .lower_parent{
        display: flex;
        justify-content: space-between;
    }

    .container3{
        width: 45%;
    }

    .child3{
        width: 45%;
    }
}

@media only screen and (max-width: 831px) {
    .upper_parent{
        padding-bottom: 2rem;
    }
}