.mainthing{
    width: 80%;
    margin: 0 auto;
}

.parent{
    padding: 0;
}

.container3{
    background-color: #f3ede8;
}

.child3{
    background-color: #e2eeec;
    margin-left: 1.5rem;
}

.title{
    margin-bottom: 1.5rem;
}

.p1{
    font-weight: bold;
    font-size: 20px;
}

.p2{
    color: #777777;
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.p4{
    padding-top: 1rem;
}

.blog{
    background-color: #f7f7f7;
    padding: 1rem;
}

.messenger{
    width: 70%;
    margin-left: 3rem;
    margin-bottom: 3rem;
}

.messenger2{
    background-color: #fffbf2;
    padding: 1rem;
 }

.red_audiphone{
    padding-left: 2rem;
    width: 70%;
} 

.join{
    text-align: end;
    padding-top: 3rem;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
 }

 h2{
    font-weight: bold;
 }

.first_p{
    color: #777777;
    font-weight: 800;
}

 h4{
    margin: 0;
    font-weight: bold;
}

h3{
    font-size: 40px;
    font-weight: bold;
}

.p6{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 25px;
}

 .grid_child_text{
    padding-left: 2rem;
    width: 45%;
    padding-top: 3rem;
 }

 .grid_child_picture{
    width: 50%;
    padding-top: 3rem;
 }

 .a_blog{
    width: 80%;
 }

 @media only screen and (max-width:1440px){
    .p1{
        font-size: 16px;
    }

    .p2{
        padding: 0.5rem;
        font-size: 17px;
    }

    .messenger{
        width: 70%;
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
    }

    h4{
        font-size: 18px;
    }

    .join{
        font-size: 18px;
        padding-top: 1.5rem;
    }

    h3{
        font-size: 20px;
    }

    .p6{
        font-size: 18px;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
 }

@media only screen and (max-width: 768px) {
    
    .child3{
        margin-left: 0;
    }
}

@media only screen and (max-width: 465px) {
    
}