<div class="mainthing pt-5">
    <div class="entiretext">
        <div class="d-flex justify-content-between">
            <h3 class=""> Top Featured </h3>
            <p class="first_p"> DEAL OF THE DAY </p>
        </div>
    </div>
    <div class="container-fluid parent box row">
        <div class="child1 col-sm-6 col-lg">
            <div class="blog">
                <img class="a_blog w-100" src="assets\png\the_blog.png" alt="A blog">
            </div>
            <p class="p1 p4">Explore the Health Blog</p>
        </div>
        <div class="child2 col-sm-6 col-lg">
            <div class="messenger2">
                <img class="messenger w-100" src="assets\png\chat_logo.png" alt="Messenger">
                <p class="p2"> Get help with any Health issue</p>
            </div>
            <p class="p1 p4 p-child">Chat a Doctor/Counsellor</p>
        </div>
        <div class="container3 p-4 col-sm-6 col-lg">
            <img class="e red_audiphone" src="assets\png\red_audiphone.png">
            <h5>Sexual Health Advocacy Campaign</h5> 
            <p class="join"> JOIN US
                <i class="fa-solid fa-circle-chevron-right" style="color: #000000;"></i>
            </p>
        </div>
        <div class="child3 wrapper p-4 col-sm-6 col-lg-4">
            <div class=" d-flex justify-content-between ">
                <div class="grid_child_text"> 
                    <h4> Varieties of Health Care Products</h4>
                    <p> Explore e-Pharmacy</p>
                    <p class="p1">VIEW MORE <i class="fa-solid fa-circle-chevron-right" style="color: #000000;"></i> </p>
                </div>
                <div class="grid_child_picture">
                    <img class="w-100 biotin" src="assets\png\biotin.png">
                </div>
            </div>
        </div>
    </div>
</div>
