<div class="mainthing pt-5">
    <div class="entiretext">
        <div class="d-flex justify-content-between">
            <h3 class=""> Top Featured </h3>
            <p class="first_p"> DEAL OF THE DAY </p>
        </div>
    </div>
    <div class="container-fluid parent box d-flex justify-content-between">
        <div class="child1">
            <div class="blog">
                <img class="a_blog w-100" src="assets\png\the_blog.png" alt="A blog">
            </div>
            <p class="p1 p4">Explore the Health Blog</p>
        </div>
        <div class="child2">
            <div class="messenger2">
                <img class="messenger w-100" src="assets\png\chat_logo.png" alt="Messenger">
                <p class="p2"> Get help with any Health issue</p>
            </div>
            <p class="p1 p4">Chat a Doctor/Counsellor</p>
        </div>
        <div class="container3 p-4">
            <img class="e red_audiphone" src="assets\png\red_audiphone.png">
            <h5>Sexual Health Advocacy Campaign</h5> 
            <!-- <img class="w-100" src="" alt="red_audiphone"> -->
            <p class="join"> JOIN US
                <i class="fa-solid fa-circle-chevron-right" style="color: #000000;"></i>
            </p>
        </div>
        <div class=" child3 wrapper d-flex justify-content-between p-4">
            <div class="grid_child_text"> 
                <h4> Varieties of Health Care Products</h4>
                <p> Explore e-Pharmacy</p>
                <p class="p1">VIEW MORE <i class="fa-solid fa-circle-chevron-right" style="color: #000000;"></i> </p>
            </div>
            <div class="grid_child_picture">
                <img class="w-100" src="assets\png\biotin.png">
            </div>
        </div>
    </div>
</div>
