<div class="mainthing pt-5">
    <div class="entiretext">
        <div class="d-flex justify-content-between title">
            <h2 class=""> Top Featured </h2>
            <p class="first_p"> DEAL OF THE DAY </p>
        </div>
    </div>
    <div class="container-fluid parent row gap-1">
        <div class="child1 col-lg col-md-4 col-sm-6 ">
            <div class="blog">
                <img class="a_blog" src="assets\png\the_blog.png" alt="A blog">
            </div>
            <p class="p1">Explore the Health Blog</p>
        </div>
        <div class="child2 col-lg col-md-4 col-sm-6">
            <div class="messenger2">
                <img class="messenger" src="assets\png\chat_logo.png" alt="Messenger">
                <p class="p2"> Get help with any Health issue</p>
            </div>
            <p class="p1 p-child">Chat a Doctor/Counsellor</p>
        </div>
        <div class="container3 col-lg col-md-4 col-sm-6 ">
            <img class="red_audiphone" src="assets\png\red_audiphone.png">
            <h4>Sexual Health Advocacy Campaign</h4> 
            <p class="join"> JOIN US
                <i class="fa-solid fa-circle-chevron-right" style="color: #000000;"></i>
            </p>
        </div>
        <div class="child3 wrapper col-sm-6 col-md-4 col-lg-4">
            <div class=" d-flex justify-content-between ">
                <div class="grid_child_text"> 
                    <h3> Varieties of Health Care Products</h3>
                    <p class="p6"> Explore e-Pharmacy</p>
                    <p class="p5">VIEW MORE <i class="fa-solid fa-circle-chevron-right" style="color: #000000;"></i> </p>
                </div>
                <div class="grid_child_picture">
                    <img class="w-100 biotin" src="assets\png\biotin.png">
                </div>
            </div>
        </div>
    </div>
</div>
